	<!-- header start here-->
	<header>
		<!-- header container start here-->
		<div class="container">
			<div class="row">
				<div class="col-sm-2 col-md-2 col-xs-12">
					<!-- logo start here-->
					<div id="logo">
						<a href="/sites/branding">
							<img class="img-responsive logochange" alt="logo" title="logo" src="/sites/branding/Style%20Library/design/images/logo.png" />
						</a>
					</div>
					<!-- logo end here-->
				</div>
				<div class="col-sm-4 col-md-4 col-xs-12 visible-xs paddleft">
					<!-- button-login start here -->
					<div class="button-login pull-right">
						<button type="button" class="btn btn-default btn-lg" onclick="location.href='login.html'">Login</button>
						<button type="button" class="btn btn-primary btn-lg" onclick="location.href='submit-job.html'">Submit
							Job</button>
					</div>
					<!-- button-login end here -->
				</div>
				<div class="col-sm-6 col-md-6 col-xs-12 padd0">
					<!-- menu start here-->
					<nav class="navbar" id="menu">
						<div class="navbar-header">
							<span class="menutext visible-xs">Menu</span>
							<button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="btn btn-navbar navbar-toggle"
								type="button"><i class="fa fa-bars" aria-hidden="true"></i></button>
						</div>
						<div class="collapse navbar-collapse navbar-ex1-collapse padd0">
							<ul class="nav navbar-nav pull-left">
								<li class="dropdown">
									<a data-toggle="dropdown" class="dropdown-toggle" href="#">HOME</a>
									<div class="dropdown-menu animated fadeInDown">
										<div class="dropdown-inner">
											<ul class="list-unstyled">
												<li>
													<a href="index.html">Header layout 1</a>
												</li>
												<li>
													<a href="header2.html">Header layout 2</a>
												</li>
												<li>
													<a href="header3.html">Header layout 3</a>
												</li>
												<li>
													<a href="header4.html">Header layout 4</a>
												</li>
												<li>
													<a href="index.html">Footer layout 1</a>
												</li>
												<li>
													<a href="header2.html">Footer layout 2</a>
												</li>
												<li>
													<a href="header3.html">Footer layout 3</a>
												</li>
												<li>
													<a href="header4.html">Footer layout 4</a>
												</li>
											</ul>
										</div>
									</div>
								</li>
								<li class="dropdown">
									<a data-toggle="dropdown" class="dropdown-toggle" href="#">JOBS</a>
									<div class="dropdown-menu animated fadeInDown">
										<div class="dropdown-inner">
											<ul class="list-unstyled">
												<li>
													<a href="jobs.html">job grid view</a>
												</li>
												<li>
													<a href="jobs-list-view.html">Job List view</a>
												</li>
												<li>
													<a href="jobs-detail.html">job detail</a>
												</li>
												<li>
													<a href="apply-job-form.html">apply job form</a>
												</li>
												<li>
													<a href="jobs-search.html">Search job</a>
												</li>
											</ul>
										</div>
									</div>
								</li>
								<li class="dropdown">
									<a data-toggle="dropdown" class="dropdown-toggle" href="#">CANDIDATES</a>
									<div class="dropdown-menu animated fadeInDown">
										<div class="dropdown-inner">
											<ul class="list-unstyled">
												<li>
													<a href="candidate-grid-view.html">candidate grid view</a>
												</li>
												<li>
													<a href="candidate-list-view.html">candidate list view</a>
												</li>
												<li>
													<a href="candidate-single-view.html">candidate single view</a>
												</li>
												<li>
													<a href="my-profile.html">my profile</a>
												</li>
											</ul>
										</div>
									</div>
								</li>
								<li class="dropdown">
									<a data-toggle="dropdown" class="dropdown-toggle" href="#">EMPLOYERS</a>
									<div class="dropdown-menu animated fadeInDown">
										<div class="dropdown-inner">
											<ul class="list-unstyled">
												<li>
													<a href="employers.html">employers</a>
												</li>
												<li>
													<a href="employer-detail.html">employer detail</a>
												</li>
												<li>
													<a href="submit-job.html">Submit Job</a>
												</li>
											</ul>
										</div>
									</div>
								</li>
								<li class="dropdown">
									<a data-toggle="dropdown" class="dropdown-toggle" href="#">BLOG</a>
									<div class="dropdown-menu animated fadeInDown">
										<div class="dropdown-inner">
											<ul class="list-unstyled">
												<li>
													<a href="blog.html">blog</a>
												</li>
												<li>
													<a href="blog-detail.html">blog detail</a>
												</li>
											</ul>
										</div>
									</div>
								</li>
								<li class="dropdown">
									<a data-toggle="dropdown" class="dropdown-toggle" href="#">PAGES
										<span class="fa fa-angle-down"></span>
									</a>
									<div class="dropdown-menu animated fadeInDown">
										<div class="dropdown-inner">
											<ul class="list-unstyled">
												<li>
													<a href="about.html">About Us</a>
												</li>
												<li>
													<a href="login.html">Login</a>
												</li>
												<li>
													<a href="register.html">Register</a>
												</li>
												<li>
													<a href="contact.html">Contact us</a>
												</li>
											</ul>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</nav>
					<!-- menu end here -->
				</div>
				<div class="col-sm-4 col-md-4 col-xs-12 hidden-xs">
					<!-- button-login start here -->
					<div class="button-login pull-right">
						<button type="button" class="btn btn-default btn-lg" onclick="location.href='login.html'">Login</button>
						<button type="button" class="btn btn-primary btn-lg" onclick="location.href='submit-job.html'">Submit
							Job</button>
					</div>
					<!-- button-login end here -->
				</div>
			</div>
		</div>
		<!-- header container end here -->
	</header>
	<!-- header end here -->